mattermost_hostname: chat.polycancer.org
team_name: Dwellers
channel_log_name: huel-sandbox-51fed9d9-8c85-49cc-a1e4-27d7c5046204
auth_token: hsb6jqccdfgo7jsa8mcpdccxsy
open_weather_api_key: 2b36c7eb96dc4b60c8788a693c2b3cc0